<div class="grid-container">
  <h1 class="mat-h1">Coronavirus 2019 Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.id =='1'">
            <h1>確診{{AllData.cases|number}}</h1>
            <h1>死亡{{AllData.deaths|number}}</h1>
            <h1>治癒{{AllData.recovered|number}}</h1>
            <h4>更新時間{{AllData.updated| date:'yyyy/MM/dd HH:mm:ss'}}</h4>
          </div>
          <div *ngIf="card.id =='2'">
            <app-ncovdash-country [CountryName]="'Taiwan'"></app-ncovdash-country>
          </div>
          <div *ngIf="card.id =='5'">
            <app-ncovdash-country [CountryName]="'Italy'"></app-ncovdash-country>
          </div>
          <div *ngIf="card.id =='6'">
            <app-ncovdash-country [CountryName]="'USA'"></app-ncovdash-country>
          </div>
          <div *ngIf="card.id=='4'">
            <!-- <iframe width="500" height="350" src="https://www.youtube.com/embed/jP-HD0IaLgE" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
