<!-- <input type="file" accept=".csv" (change)=" csv2Array($event)"> -->
<!-- <div *ngFor="let u of SQLdatas">
  {{u}}
</div> -->

<!-- <div>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedData" placeholder="請選擇一個場站">
      <mat-option *ngFor="let u of maskData" [value]="u">
        {{u.properties.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> -->


<div>
  <mat-form-field>
    <mat-select [(ngModel)]="selectCity" (ngModelChange)="getDistrict(selectCity)" placeholder="請選擇一個城市">
      <mat-option *ngFor="let u of cityCountry" [value]="u.CityName">
        {{u.CityName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="selectDistrict" (ngModelChange)="findPharmacy(selectCity,selectDistrict)"
      placeholder="請選擇一個區">
      <mat-option *ngFor="let u of District" [value]="u.AreaName">
        {{u.AreaName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<h1>{{this.selectCity}}{{this.selectArea}}{{this.PharmacyCount}}</h1>



<!-- <div *ngFor="let u of District" class="inlineButton">
  <button mat-fab color="warn" (click)="findPharmacy(selectCity,u.AreaName)">
    {{u.AreaName}}</button>
</div> -->

<!-- <button mat-fab color="warn" (click)="getMaskData()">
  <span matTooltip="Search">
    <mat-icon>search</mat-icon>
  </span>
</button> -->

<div>
  <mat-card *ngFor="let results of PharmacyInfo" (click)="openMapDialog(results.properties.name)">
    <mat-card-content>
      <h2>{{results.properties.name}}</h2>
      <h3>{{results.properties.phone}}</h3>
      <h3>{{results.properties.address}}</h3>
      <!-- <h3>{{results.properties.available}}</h3> -->
      <label>成人口罩數量</label>
      <h2>{{results.properties.mask_adult| code2name:'MaskSaleStatus'}}</h2>
      <label>小孩口罩數量</label>
      <h2>{{results.properties.mask_child}}</h2>
      <label>資料更新時間</label>
      <h3>{{results.properties.updated}}</h3>
    </mat-card-content>
  </mat-card>
</div>
<!-- {{ this.District|json}} -->
<!-- <div>
  <mat-form-field>
    <mat-select [(ngModel)]="selectDistrict" placeholder="請選擇一個區">
      <mat-option *ngFor="let u of District" [value]="u">
        {{u.AreaName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
