<p>
  ncov2019 works!
</p>
<div *ngFor="let item of ncov2019Data">
  {{item.provinceName}}
  <div *ngFor="let city of item.cities">
    {{city.cityName}}
  </div>
</div>
{{ncov2019Data|json}}
<!-- <div>
  <mat-card *ngIf="getShow(showYN)">{{item}}</mat-card>
  <button mat-raised-button *ngIf="getShow(showYN)">Basic</button>
  <button mat-icon-button *ngIf="getShow(showYN)">
    <mat-icon>favorite</mat-icon>
  </button>
</div>

<div [innerHTML]="getCard('GOOD')"></div> -->

<!-- <button mat-raised-button color='warn'>test</button> -->
<!-- <div><button mat-raised-button color='warn'>Test</button></div> -->
